body {
    margin: 100px 0px 0px 0px; /*top x y right*/
    width: 100%;
    font-family: 'Open Sans';
    font-size: 15px;
}

.navbar{
    background-color: white;
}
nav ul, footer ul {
    font-family:'Open Sans', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: #999;;
    text-decoration: none;
}
#meta{
    font-size: 12px;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    line-height: 1.4;
    color: #333;
}
#footer {
    background-color: white;
}

ul{
    list-style: none;
    padding: 0;
    list-style-type: none;
}
img{
    border-radius: 0px;
}
.image_feed{
    pointer-events: none;
}
.custom-toggler.navbar-toggler {
    border: none;
    margin-left: 0px;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("/images/numerodereynolds_logo.svg");
    width: 50px;
    height: 50px;
}

/*removes the outline when the menu (small screens) is clicked and active*/
    .custom-toggler:focus {
        outline: 0;
    }

@media (min-width: 238px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 800px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 1000px) {
    .card-columns {
        column-count: 3;
    }
}

.card{
    border: none;
    border-radius: 0px;
}