---
layout: default
title: scp
---


<div class="container" style="display:none; margin-bottom:20px; margin-top:-20px" >
	<div class="row">
		<div class="col-sm-3">

		</div>
		<div class="col-xs-auto mx-auto">
			<div class="row">
				<div class="col-xs-auto mx-auto">
					<a class="nav-link" href="#" style="color:#376467">
						estatísticas
					</a>
				</div>
				<div class="col-xs-auto mx-auto">
					<a class="nav-link" href="#" style="color:#376467">
						finanças
					</a>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			
		</div>
	</div>
</div>

<div class="container" style="margin-bottom:100px">
	<div class="card-columns col-xs-auto mx-auto">
		{% for post in site.posts %} 
			{% if post.tag contains 'picture scp' %} 
				{% include card_image.html %} 
			{% endif %}
			{% if post.tag contains 'post scp' %} 
				{% include card_text.html %} 
			{% endif %}
		{% endfor %}
	</div>
</div>