---
layout: default
title: scp
---

<div class="card-columns col-xs-auto mx-auto">
	{% for post in site.posts %} 
		{% if post.tag contains 'scp' %} 
			{% include card_text.html %} 
		{% endif %}
	{% endfor %}
</div>

<div class="container-fluid sticky-bottom" style="background-color: #376467; height:200px">
	<div class="row" style="height:50px">
	</div>
	<div class="row">
		<div class="col-3 col-xs-1">

		</div>
		<div class="col-xs-auto mx-auto">

		</div>
		<div class="col-xs-auto mx-auto">
			<div class="row align-middle">
				<div class="col-xs-auto mx-auto">
					<a class="nav-link" href="mailto:duartevicentedrumond@gmail.com">
						<img src="/images/mail_white.svg" width="20" height="20" alt="">
					</a>
				</div>
				<div class="col-xs-auto mx-auto">
					<a class="nav-link" href="https://www.instagram.com/duartevicentedrumond/">
						<img src="/images/instagram_white.svg" width="20" height="20" alt="">
					</a>
				</div>
				<div class="col-xs-auto mx-auto">
					<a class="nav-link" href="https://twitter.com/duartedrumond">
						<img src="/images/twitter_white.svg" width="20" height="20" alt="">
					</a>
				</div>
			</div>
		</div>
		<div class="col-xs-auto mx-auto">
		</div>
		<div class="col-3 col-xs-1">

		</div>
	</div>
	<div class="row" style="height:20px">
	</div>
	<div class="row">
		<div class="col-xs-auto mx-auto" style="color:white">
			&#169 duartevicentedrumond | 2018
		</div>
	</div>
</div>