<div class="card" style="max-width: 350px; margin-bottom: 30px">
	{% if post.img == '' %}

	{% else %}
		<a class="card-text" href="{{ post.url }}">
			<img class="card-img-top img-fluid" src="{{ post.image }}" alt="">
		</a>
	{% endif %}
	<div class="card-block text-left">
		<a class="card-text" href="{{ post.url }}">
			<p class="card-title" style="font-weight:900">
				{{ post.title }} 
			<p>
			<p style="font-size:13px; color:gray; margin-top:-10px">
				{{ post.description }}
			</p>
		</a>
	</div>
</div>