<div class="card" style="max-width: 350px; margin-bottom: 30px">
	{% if post.img == '' %}

	{% else %}
		<a class="card-text" href="{{ post.url }}">
			<img class="card-img-top img-fluid" src="{{ post.img }}" alt="">
		</a>
	{% endif %}
	<div class="card-block text-left">
		<a class="card-text" href="{{ post.url }}">
			<p class="card-title">
				{{ post.title }}   
				<small class="text-muted" style="font-size:10px">
					{{ post.date | date: "%a | %d-%m-%Y" }}
				</small>
			<p>
			<p style="font-size:13px; color:gray; margin-top:-10px">
				{{ post.description }}
			</p>
		</a>
	</div>
</div>