<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113700285-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-113700285-1');
        </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->

    <title>{{ page.title }}</title>

    <meta property="og:title" content="número de Reynolds" />

     <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" type="image/x-icon" href="images/numerodereynolds_logo.svg"/>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <!-- Twitter cards -->
        <meta name="twitter:site"    content="@{{ site.twitter_username }}">
        <meta name="twitter:creator" content="@{{ page.author }}">
        <meta name="twitter:title"   content="{{ page.title }}">

        {% if page.description %}
            <meta name="twitter:description" content="{{ page.description }}">
        {% else %}
            <meta name="twitter:description" content="{{ site.main_description }}">
        {% endif %}

        {% if page.image %}
            <meta name="twitter:card"  content="summary_large_image">
            <meta name="twitter:image" content="{{ page.image }}">
        {% else %}
            <meta name="twitter:card"  content="summary">
            <meta name="twitter:image" content="{{ site.main_image }}">
        {% endif %}
    <!-- end of Twitter cards -->

    <!-- WhatsApp -->
        {% if page.description %}
            <meta property="og:description" content="{{ page.description }}">
        {% else %}
            <meta property="og:description" content="{{ site.main_description }}">
        {% endif %}

        {% if page.image %}
            <meta property="og:image" content="{{ page.image }}">
        {% else %}
            <meta property="og:image" content="{{ site.main_image }}">
        {% endif %}
    <!-- end of WhatsApp cards -->
</head>