<!-- This is my main layout. This file contains repeated elements on all pages, like <head> or <footer> tags. This file makes the maintenance of my site much easier because every time I want to change anything on it (i.e., something on <head> or another code placed in this file) it will appear on every page. -->

<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
			<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
			<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i" rel="stylesheet">

			<link rel="shortcut icon" type="image/x-icon" href="images/numerodereynolds_logo.png"/>
			
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>

			<nav class="navbar fixed-top navbar-expand-sm navbar-light d-flex justify-content-center" id="navbar_top">

				<button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
					</span>
				</button>
				<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
					<a class="navbar-brand d-none d-sm-block mx-auto" href="/">
						<img src="/images/numerodereynolds_logo.svg" width="50" height="50" alt="">
					</a>
					<ul class="navbar-nav mt-2 mt-lg-0">
						<li class="d-flex mx-auto nav-item d-sm-none">
							<a class="nav-link" href="/" style="color:#376467">
								<b>home</b>
							</a>
						</li>
						<li class="d-flex mx-auto nav-item d-sm-none">
							<a class="nav-link" href="/blog" style="color:#376467">
								<b>o blog</b>
							</a>
						</li>
						<li class="d-flex mx-auto nav-item d-sm-none">
							<a class="nav-link disabled" href="#" style="color:#376467">
								<b>fotos</b>
							</a>
						</li>
						<li class="d-flex mx-auto nav-item d-sm-none">
							<a class="nav-link disabled" href="#" style="color:#376467">
								<b>cv</b>
							</a>
						</li>
						<li class="d-flex mx-auto nav-item d-sm-none">
							<a class="nav-link disabled" href="#" style="color:#376467">
								<b>scp</b>
							</a>
						</li>
					</ul>
				</div>
			</nav>

			<div class="container d-none d-sm-block">
				<div class="row" style="margin-top:-20px; margin-bottom:50px">
					<div class="col-2">
							 
					</div>
					<div class="col-xs-auto mx-auto">
						<div class="row">
							<div class="col-xs-auto mx-auto">
								<a class="nav-link" href="/blog" style="color:#376467">
									<b>o blog</b>
								</a>
							</div>
							<div class="col-xs-auto mx-auto">
								<a class="nav-link  disabled" href="#" style="color:#376467">
									<b>fotos</b>
								</a>
							</div>
							<div class="col-xs-auto mx-auto">
								<a class="nav-link disabled" href="#" style="color:#376467">
									<b>cv</b>
								</a>
							</div>
							<div class="col-xs-auto mx-auto">
								<a class="nav-link" href="#" style="color:#376467">
									<b>scp</b>
								</a>
							</div>
						</div>
					</div>
					<div class="col-2">
							 
					</div>
				</div>
			</div>
			
			<div class="container" style="margin-bottom:100px">

				{{content}}

			</div>
			

			<div class="container-fluid sticky-bottom" style="background-color: #376467; height:200px">
				<div class="row" style="height:50px">
				</div>
				<div class="row">
					<div class="col-3 col-xs-1">
							 
					</div>
					<div class="col-xs-auto mx-auto">
						
					</div>
					<div class="col-xs-auto mx-auto">
						<div class="row align-middle">
							<div class="col-xs-auto mx-auto">
								<a class="nav-link" href="mailto:duartevicentedrumond@gmail.com">
									<img src="/images/account.svg" width="20" height="20" alt="">
								</a>
							</div>
							<div class="col-xs-auto mx-auto">
								<a class="nav-link" href="https://www.instagram.com/duartevicentedrumond/">
									<img src="/images/instagram-logo.svg" width="20" height="20" alt="">
								</a>
							</div>
							<div class="col-xs-auto mx-auto">
								<a class="nav-link" href="https://twitter.com/duartedrumond">
									<img src="/images/twitter_logo.svg" width="20" height="20" alt="">
								</a>
							</div>
						</div>
					</div>
					<div class="col-xs-auto mx-auto">
					</div>
					<div class="col-3 col-xs-1">
							 
					</div>
				</div>
				<div class="row" style="height:20px">
				</div>
				<div class="row">
					<div class="col-xs-auto mx-auto" style="color:white">
						&#169 duartevicentedrumond | 2018
					</div>
				</div>
			</div>

			<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

		</body>
	</html>
