---
layout: default
---

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col">

    </div>
    <div class="col-md-8 col-lg-6">
        <h3>{{ page.title }}</h3>

        <small class="text-muted" >
          <p id="meta">{{ page.date | date: "%A %d-%m-%Y" }} | {{ page.source }}</p>
        </small>

        {% include post_image.html %}

        <div class="post" style="margin-top:10px">
          {{ content }}
        </div>

    </div>
    <div class="col">
      
    </div>
  </div>
</div>

<div class="container" style="margin-top:30px; margin-bottom:100px">
  <div class="row justify-content-md-center">
    <div class="col">
      
    </div>
    <div class="col-md-8 col-lg-6 d-flex justify-content-center">

      {% include share_page.html %}

    </div>
    <div class="col">
    
    </div>
  </div>
</div>